@media screen and (max-width: 329px) {
  /* ====================HERO========================== */

  /* ====================SOFT-SKILLS========================== */
  .skills-title {
    font-size: 22px;
  }
  .address-link {
    font-size: 16px;
  }
}

@media screen and (min-width: 330px) and (max-width: 374px) {
  .skills-title {
    font-size: 30px;
  }
}
@media screen and (max-width: 374px) {
  /* ====================HERO========================== */

  /* ====================SOFT-SKILLS========================== */

  .soft-skill-name {
    font-size: 16px;
  }
  .hard-skill-name {
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  .futures-list {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}

@media screen and (min-width: 428px) {
}

@media screen and (max-width: 767px) {
  /* ====================HEADER========================== */

  /* ====================HERO========================== */
  .hero-img {
    margin-bottom: 20px;
  }
  .hero-profession {
    margin-bottom: 48px;
  }
  /* ====================SOFT-SKILLS========================== */
  .soft-skills-item {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* ====================BEST-PROJECTS, POTRFOLIO========================== */

  .best-projects-container,
  .portfolio-container {
    padding-left: 0;
    padding-right: 0;
  }

  .btn-more {
    margin-left: 30px;
  }

  /* ====================HARD-SKILLS========================== */
  .skills-container {
    padding-left: 0;
    padding-right: 0;
  }

  .skills-question,
  .skills-title,
  .hard-skill-name {
    padding-left: 30px;
    padding-right: 30px;
  }
  .hard-skills-item:not(:last-child) {
    margin-bottom: 50px;
  }

  /* ====================FOOTER========================== */

  .footer-container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .footer {
    padding-top: 64px;
    padding-bottom: 48px;
  }
  .footer-nav-list {
    margin-bottom: 40px;
  }
  /* ======================PORTFOLIO.HTML========== */

  .portfolio-page-question {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 768px) {
  /* ====================HEADER========================== */
  .header-container {
    padding-left: 40px;
    padding-right: 40px;
  }
  /* ====================HERO========================== */
  .hero-section {
  }

  .hero-container {
    padding-left: 40px;
    padding-right: 40px;
  }
  .hero-title-img-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 48px;
  }
  .hero-img {
    aspect-ratio: 306 / 306;
    min-width: 306px;
  }
  .hero-title {
    font-size: 36px;
    margin-bottom: 16px;
  }

  .hero-question {
    margin-bottom: 32px;
    letter-spacing: 0.05em;
  }

  .hero-profession {
    max-width: 381px;
  }
  .hero-ocupation {
    text-align: center;
  }
  .futures-list {
    gap: 50px;
    justify-content: center;
  }

  .futures-item {
  }
  .futures-number {
    font-size: 56px;
  }

  .futures-descr {
    font-size: 16px;
  }
  .hero-wishes {
    font-size: 18px;
    text-align: center;
  }
  .hero-soft-skills-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 40px;
    row-gap: 8px;
  }
  .hero-soft-skils-item p {
  }
  .hero-soft-skils-item span {
  }

  /* ====================SOFT-SKILLS========================== */
  .skills-question {
    text-align: center;
  }
  .skills-list {
    display: flex;
    flex-wrap: wrap;
  }
  .soft-skills-list {
    justify-content: center;
  }
  .soft-skills-item {
    flex-basis: 345px;
  }

  .skills-title {
    font-size: 40px;
    text-align: center;
  }

  /* ====================BEST-PROJECTS, POTRFOLIO========================== */
  .best-projects-section,
  .portfolio-section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .btn-more {
    margin: 0 auto;
  }

  /* ====================HARD-SKILLS========================== */
  .hard-skills-list {
    column-gap: 24px;
    row-gap: 50px;
  }
  .hard-skills-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  /* ====================FOOTER========================== */

  .footer-container {
    padding-left: 40px;
    padding-right: 40px;
  }
  .footer {
    padding-top: 64px;
    padding-bottom: 48px;
  }

  /*=========== BEST-PROJECTS.HTML========== */
  /* ======================PORTFOLIO.HTML========== */

  .portfolio-filter-list {
    justify-content: center;
    gap: 24px;
  }

  .portfolio-list {
    gap: 16px;
  }
  .portfolio-item {
    flex-basis: calc((100% - 48px) / 4);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  /* ====================FOOTER========================== */
  .footer-nav-wrapper {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1199px) {
  /* ====================HEADER========================== */

  .header-nav-wrapper {
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 101;
    height: 100vh;
    width: 100%;
    /* background-color: var(--background-color-1); */
    background-image: linear-gradient(
      90deg,
      rgba(224, 228, 232, 0.5) 0%,
      rgba(224, 228, 232, 1) 75%
    );
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 100px 15px;
    transition: transform var(--my-transition-duration)
      var(--my-transition-timing-function);
  }
  .header-nav-wrapper.active {
    overflow-y: scroll;
    transform: translateX(-100%);
  }
  .logo-lang-wrapper {
    display: flex;
    gap: 24px;
  }
  .header-logo-link {
    z-index: 102;
    padding: 12px 0;
  }
  .header-nav-list {
    margin-bottom: 64px;
  }
  .header-nav-item:not(:last-child) {
    /* margin-bottom: 30px; */
  }
  .header-nav-item {
    position: relative;
    /* background-color: white; */
  }

  .header-nav-item:last-child::after,
  .header-nav-item::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;

    left: 0;
    background-color: rgb(93, 93, 93);
  }
  .header-nav-item::before {
    top: 0;
  }
  .header-nav-item:last-child::after {
    bottom: 0;
  }

  .header-nav-item.ext-item a:first-child {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .header-nav-item.ext-item a:first-child span + span {
    writing-mode: vertical-lr;
    display: block;
  }

  .footer-nav-item.ext-item a:not(:first-child),
  .header-nav-item.ext-item a:not(:first-child) {
    font-size: 16px;
  }
  .header-nav-item.ext-item a:not(:first-child) {
    position: relative;
    background-color: rgba(234, 236, 238, 0.7);
  }

  .header-nav-link {
    padding: 12px 20px;
    background-color: rgba(224, 228, 232, 0.7);
  }
  .header-addres-link {
    display: block;
    text-align: center;
  }
  .header-addres-item:not(:last-child) {
    margin-bottom: 20px;
  }

  .menu-burger-btn {
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    padding: 6px 0;
    z-index: 102;
  }

  .burger-bar {
    display: block;
    height: 4px;
    background-color: var(--primary-color);
    border-radius: 2px;
    /* opacity: 0.7; */
    transition: transform var(--my-transition-duration)
      var(--my-transition-timing-function);
  }
  .burger-bar:not(:last-child) {
    margin-bottom: 4px;
  }

  .active-icon .burger-bar:nth-child(2) {
    transform: translate3d(0, 4px, 0) rotate(45deg);
  }

  .active-icon .burger-bar:nth-child(3) {
    transform: translate3d(0, -4px, 0) rotate(-45deg);
  }

  .active-icon .burger-bar:nth-child(1),
  .active-icon .burger-bar:nth-child(4) {
    opacity: 0;
  }

  /* ====================FOOTER========================== */
  .footer-logo-link {
    display: inline-block;
    margin-bottom: 30px;
  }
  .footer-nav-item:not(:last-child) {
    margin-bottom: 30px;
  }
  .footer-nav-item.ext-item a:first-child {
    margin-bottom: 14px;
  }
  .footer-addres-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

/* @media screen and (max-width: 1199px) and (orientation: landscape) {
  .header-nav-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 48px;
  }
  .header-nav-item {
    margin-bottom: 0;
  }
  .header-addres-list {
    display: flex;
    gap: 24px;

    justify-content: center;
  }
} */

@media screen and (min-width: 1200px) {
  /* ====================COMMON========================== */
  .soft-skills-section,
  .hard-skills-section,
  .best-projects-section,
  .portfolio-section {
    scroll-margin-top: 88px;
  }

  .active-link,
  .active-link-gallery {
    position: relative;
  }
  .active-link::after,
  .active-link-gallery::after {
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: var(--my-color-1);
  }

  /* ====================HEADER========================== */

  .header-container {
    padding-left: 50px;
    padding-right: 50px;
    height: 88px;
  }
  .logo-lang-wrapper {
    display: flex;
    flex-direction: column;
    /* gap: 24px; */
  }

  .header-logo-link {
    /* padding: 24px 0; */
  }

  .header-nav-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex: 1;
  }

  .header-nav-list {
    display: flex;
    gap: 35px;
  }
  .ext-item a:first-child {
    margin-bottom: 9px;
  }
  .ext-item a:not(:first-child) {
    font-size: 13px;
    /* line-height: 2.4; */
  }
  .ext-item a:first-child span + span {
    display: none;
  }
  .nav-link {
    font-size: 16px;
  }

  .header-addres {
  }
  .header-addres-list {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    gap: 8px;
  }

  .address-link {
    font-size: 16px;
  }
  .nav-link:is(:hover),
  .address-link:is(:hover, :focus) {
    opacity: 0.6;
  }
  .menu-burger-btn {
    display: none;
  }
  /* ====================HERO========================== */

  .hero-section {
    padding-top: 88px;
  }

  .hero-container {
    padding-left: 50px;
    padding-right: 50px;
  }
  .hero-img {
    aspect-ratio: 480 / 480;
    min-width: 480px;
  }
  .hero-title {
    font-size: 60px;
    margin-bottom: 28px;
  }

  .hero-question {
    margin-bottom: 52px;
  }

  .hero-profession {
    font-size: 46px;
    max-width: 574px;
  }
  .hero-ocupation {
    font-size: 34px;
    margin-bottom: 30px;
  }
  .futures-list {
    margin-bottom: 30px;
    gap: 70px;
  }
  .futures-item {
  }
  .futures-number {
    font-size: 72px;
  }

  .futures-descr {
    font-size: 20px;
  }
  .hero-wishes {
    font-size: 22px;
  }
  .hero-soft-skills-list {
    column-gap: 50px;
  }
  .hero-soft-skils-item p {
    font-size: 22px;
  }
  .hero-soft-skils-item span {
    font-size: 24px;
  }
  /* ====================SOFT-SKILLS========================== */

  .skills-title {
    font-size: 45px;
    margin-bottom: 40px;
  }

  /* ====================HARD-SKILLS========================== */

  .hard-skills-item {
    flex-basis: calc((100% - 48px) / 3);
  }

  .equipment-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  .electro-list,
  .color-correction-list {
    max-width: 774px;
    margin-left: auto;
    margin-right: auto;
  }
  .electro-item,
  .color-corection-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .skill-image-link:is(:hover, :focus) img {
    filter: brightness(0.7);
  }
  /* ====================FOOTER========================== */
  .footer-container {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    /* gap: 64px; */
  }
  .footer {
    padding-top: 96px;
    padding-bottom: 48px;
  }
  .footer-nav-list {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
  }
  .footer-addres-list {
    display: flex;
    gap: 30px;
  }

  /*=========== BEST-PROJECTS.HTML========== */
  /* ===================PORTFOLIO.HTML========== */

  .portfolio-list {
    gap: 24px;
  }
  .portfolio-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  .porfolio-page-img-link:is(:hover, :focus) img {
    filter: brightness(0.7);
  }
}
